html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.white-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    padding: 2em;
    border-radius: 1.5em;
}

.drop-in-shadow {
    -webkit-box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.15);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #7d979d;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/bg.jpg');
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: #5DACBD;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer > span {
    margin: .5em 1.5em .5em .5em;
}
